

/* ! background-position & background-size can be extracted to another class */

#section1{
    background :url(/asset/img/page1-1.jpg);
    background-position :center center;
    background-size:cover;
}
#section2{
    background:url(/asset/img/page1-2.jpg);
    background-position: center center;
    background-size: cover;
}
#section3{
    background:url(/asset/img/page1-3.jpg);
    background-position: center center;
    background-size: cover;
}
#section4{
    background:url(/asset/img/page1-4.jpg);
    background-position: center center;
    background-size: cover;
}
#section5{
    background:url(/asset/img/page1-5.jpg);
    background-position: center center;
    background-size: cover;
}


.section{
    position: relative;
    height: 100vh;
    width: 100vw;
}
/* ! bottom should be fixed value during animation
* It is your element's final position
* For fadeIn animation, you could just manipulate the translateY value
* e.g. from -50px to 0px
*/
.section-title{
    font-size: 49px;
    background-color: transparent;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0%;
    width: fit-content;
    height: 60px;
    letter-spacing: 4.5px;
    transition: 1s;
    opacity: 0;


}
.section-title-activated{
    z-index: 200;
    bottom:15%;
    opacity: 1;
}

.section-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    width: 144px;
    height: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    border: solid 1px white;
    transition-property: background-color ,bottom;
    transition-duration: .4s ,1s;

    opacity: 0;
}

.section-button-activated{
    bottom:8%;
    opacity: 1;
    z-index: 2000;
}

.section-button-small{
    height: 28px;
    width: 98px;
    font-size: 14px;
}

.section-button-label{
    margin-top: 20px;
    color: white;
    transition: .3s;

}
.section-button-shadow{
    color: white;
    transition: .4s;
    color: transparent;
}

.section-button:hover {
    cursor: pointer;
    background-color: white;
    
}
.section-button:hover .section-button-label{
    transform: translateY(-20px);
    color: transparent;
}
.section-button:hover .section-button-shadow{
    transform: translateY(-20px);
    color: black;
}



/* dark version */
.dark-section .section-title{
    font-size: 49px;
    background-color: transparent;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0%;
    width: fit-content;
    height: 60px;
    letter-spacing: 4.5px;
    transition: 1s;
    opacity: 0;


}
.dark-section .section-title-activated{
    z-index: 200;
    bottom:15%;
    opacity: 1;
}

.dark-section .section-button{
    border-color: black;
    transition-duration: .4s ,1s;

    opacity: 0;
}

.dark-section .section-button-activated{
    bottom:8%;
    opacity: 1;
    z-index: 2000;
}

.dark-section .section-button-small{
    height: 28px;
    width: 98px;
    font-size: 14px;
}

.dark-section .section-button-label{
    margin-top: 20px;
    color: black;
    transition: .3s;

}
.dark-section .section-button-shadow{
    transition: .4s;
    color: transparent;
}

.dark-section .section-button:hover {
    cursor: pointer;
    background-color: black;
    
}
.dark-section .section-button:hover .section-button-label{
    transform: translateY(-20px);
    color: transparent;
}
.dark-section .section-button:hover .section-button-shadow{
    transform: translateY(-20px);
    color: white;
}