.header{
    position: fixed;
    z-index: 30;
    top: 65px;
    width: 100vw;
    height: 100px;


}
.header-mid-width{
    top: 21px;
}
/* ! This is hacky, better adjust layout properties like padding to achieve same results */
.header-small-width{
    top: 15px;
    transform: translate(-6px,-5px);
}

.header-content{
    display: flex;
    position: relative;
    padding-left: 27.27px; // ! This is hacky
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    margin-left: 50%;
    transform: translateX(-50%);
}

.header-logo{
    position: relative;
    transform: translate(0.5px, 2px); // ! This is hacky
}

.header-logo:hover{
    cursor: pointer;
}

.header-logo-small{
    transform: scale(.84) translateX(-1.5px);  // ! This is hacky 
}

.header-logo .cls-1{
    transition: .5s;
    transform: translate(4px,-12px); 
    fill: white;
}    

.dark-header .header-logo .cls-1{
    fill: black;
}

.header-bars-icon{
    position: absolute; 
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    top:90px;
    height: 34px;
    width: 34px;
    /* background-color: brown; */
    transform: translate(3px,-3px);
}


.header-bars-icon :nth-child(1n){
    height: 2px;
    margin:3px;
    width: 22px;
    background-color: white;
}




.header-navbar-area{
    display: flex;
    position: absolute;
    top:34px;
    left:168.5px
}
.navbar{
    white-space: nowrap;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .4s; // ! useless
}


.navbar:hover{
    cursor: pointer;
}
.navbar:hover .navbar-chinese{
    transform: translateY(-18px);
    color: white;
}
.dark-header .navbar:hover .navbar-chinese{
    color: black;
}
.navbar:hover .navbar-english{
    transform: translateY(-10px);
    color: transparent;
}
.navbar-english{
    font-size: 15px;
    color: white;
    margin:0 14.5px;
    transition: .5s;

}
.dark-header .navbar-english{
    color: black;
}

.navbar-chinese{

    white-space: nowrap;
    font-size: 15px;
    color: transparent;
    transition: .4s;
    border-bottom: solid 2px transparent;
}

.tag-nav:hover{
    cursor: pointer;
}
/* icon area below */
.icon-area-header {

    align-self: center;
    white-space: nowrap;
    transform: translate(-200px,6px);
    position: relative;
    stroke: white;
    stroke-width: 1px;
    fill: transparent;
    margin-right: 68px;
    height: 30px;
    width: 34px;
    right: -62px;
    top:-11.4px
}
.dark-header .icon-area-header{
    stroke: black;
}
.icon-area-header :nth-child(1n):hover {
    z-index: 20;
    cursor: pointer;
    fill: white;
}
.dark-header .icon-area-header :nth-child(1n):hover {

    fill: black;
}
.icon-area-header :nth-child(1n):hover .icon-facebook-logo{

    fill: black;
}
.dark-header .icon-area-header :nth-child(1):hover .icon-facebook-logo{

    fill: white;
}

.icon-area-header :nth-child(3):hover .icon-line-logo{

    fill: black;
}
.dark-header .icon-area-header :nth-child(3):hover .icon-line-logo{

    fill: white;
}
.icon-area-header :nth-child(4):hover .icon-ask-logo{

    fill: black;
}
.dark-header .icon-area-header :nth-child(4):hover .icon-ask-logo{

    fill: white;
}
.icon-line:hover :nth-child(n+2){

    stroke: black;
}
.dark-header .icon-line:hover :nth-child(n+2){

    stroke: white;
}

.icon-bag:hover :nth-child(n+2){
    stroke: black;
 
}

.dark-header .icon-bag:hover :nth-child(n+2){
    stroke: white;
 
}

.icon-area-header svg{
    margin-left: 7.6px;
    transition: .3s;

}

.icon-facebook-logo{
    fill:white;
    stroke-width: 0;
    transition: .3s;
}
.dark-header .icon-facebook-logo{
    fill:black;
    stroke-width: 0;
}

.icon-line-logo{
    stroke-width: 0px;
    fill: white;    
    transition: .3s;
}
.dark-header .icon-line-logo{
    stroke-width: 0px;
    fill: black;    
}
.icon-ask-logo{
    stroke-width: 0px;
    fill: white;   
    transition: .3s;
}
.dark-header .icon-ask-logo{
    stroke-width: 0px;
    fill: black;   
}


.incart-number{
    position: relative;
    top:-40px;
    left: 196px;
    font-size: 14px;
    height:16px;
    width: 16px;
    background-color: white;
    border-radius: 20px;
    transition: .5s;
}



.dark-header .incart-number{
 background-color: black;
}
.incart-number-text{
    z-index: 100;
    position: absolute;
    top: -3px;
    left:4.5px;
    transition: .5s;
}
  
.dark-header .incart-number-text{
    color: white;
}
  
.move-icon-to-left{
    transform: translate(5.5px,6px);      
}  


.hide-it{
    transform: scale(0);
}
/*  */
.current .navbar-english{
    font-size: 15px;
    color: transparent;
    margin:0 14.5px;
    transition: .4s;
}
.dark-header .current .navbar-english{
    color: black;
}

.current .navbar-chinese{
    border-bottom: solid 2px transparent;
    white-space: nowrap;
    font-size: 15px;
    color: transparent;
    transition: .4s;    
}

.current:hover .navbar-chinese{
    border-bottom: solid 1px white;
}
.dark-header .current:hover .navbar-chinese{
    border-bottom: solid 1px black;
}
.navbar-chinese-stay{
    border-bottom: solid 1px white;
    transform: translateY(-18px);
    color: white;
}
.dark-header .navbar-chinese-stay{
    border-bottom: solid 1px black;
    color: black;
}
.navbar-english-out{
    transform: translateY(-20px);
    color: transparent;
}

.dark-header .navbar-english-out{
    color: transparent;
}



